body {
  width: 50%;
  margin: 0 auto;
  font-family: "Source Serif Pro";
  color: #494848;
}

h1 {
  margin-bottom: 1.5em;
  text-align: center;
}

h2 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
}

hr {
  height: 2px;
  background-color: #f0ecec;
  border: none;
  margin-bottom: 1em;
}

input,
.dropdown {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  border: 2px solid #f0ecec;
  border-radius: 4px;
  outline: none;
  margin-bottom: 1em;
}

input[type="checkbox"] {
  margin-bottom: 3em;
  width: auto;
}

input[type="password"] {
  margin-bottom: 0;
}

#confirm-password {
  margin-top: 1em;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  font-size: 0.7em;
  letter-spacing: 1.3px;
  border: none;
  margin-top: 2.4em;
  margin-bottom: 3em;
  padding: 1.6em;
  width: 40%;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input:hover,
.dropdown:hover {
  border-color: #706f6f;
}

form ::placeholder,
.dropdown {
  color: #5c5b5b;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  margin-bottom: 2em;
  font-size: 0.85em;
}

.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #f0ecec;
  border-radius: 0.2em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  font-size: 1.7em;
}

.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #706f6f;
}

.custom-checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.input-group-firstname,
.input-group-lastname,
.input-group-email,
.input-group-password,
.input-group-confirmpassword,
.input-group-street,
.input-group-zipcode,
.dropdown-group-phone,
.dropdown-group-countrycode,
.dropdown-group-country,
.dropdown-group-city {
  position: relative;
}

.input-group-firstname::after,
.input-group-lastname::after,
.input-group-email::after,
.input-group-password::after,
.input-group-confirmpassword::after,
.input-group-street::after,
.input-group-zipcode::after,
.dropdown-group-phone::after,
.dropdown-group-countrycode::after,
.dropdown-group-country::after,
.dropdown-group-city::after {
  content: "*";
  color: #da0505;
  position: absolute;
  top: 0;
  left: 83px;
}

.input-group-email::after {
  left: 52px;
}

.input-group-password::after {
  left: 77px;
}

.input-group-confirmpassword::after {
  left: 128px;
}

.input-group-street::after {
  left: 108px;
}

.input-group-zipcode::after {
  left: 114px;
}

.input-group-country::after {
  left: 108px;
}

.input-group-city::after {
  left: 114px;
}

.dropdown-group-countrycode::after {
  top: 10px;
  left: 104px;
}

.dropdown-group-phone::after {
  left: 109px;
}

.dropdown-group-country::after {
  left: 67px;
}

.dropdown-group-city::after {
  left: 44px;
}

.phonenumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.countrycode-flex-item {
  width: 30%;
  margin-right: 20px;
}

.phonenumber-flex-item {
  width: 70%;
}

small {
  color: #da0505;
}

.custom-select {
  position: relative;
  font-size: 0.9em;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #5c5b5b transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #5c5b5b transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: #5c5b5b;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-selected {
  border: 2px solid #f0ecec;
  border-radius: 4px;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 8%;
  right: -7%;
  z-index: 99;
  border: 2px solid #000;
  border-radius: 5px;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.hideStar {
  color: #fff;
}

#strength {
  padding: 0.2px;
  background-color: #f0ecec;
}

#strength p {
  font-family: "Arial";
  font-size: 0.9em;
  margin: 0.4em;
}

.accountInformationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.accountInformationContainer, .addressBookContainer {
  margin-bottom: 3em;
}

.contactInformationContainer, .newslettersContainer {
  width: 50%;
  align-items: flex-start;
}

.name-field, .email-field, .street-field, .city-field, .country-field, .newslettersContainer {
  font-size: 0.9em;
}

@media (max-width: 768px) {
  body {
    width: 95%;
  }

  h1 {
    margin-bottom: 0.8em;
    font-size: 1.2em;
  }

  h2 {
    margin-top: 1.7em;
    font-size: 1em;
    text-align: center;
  }

  .phonenumber {
    flex-direction: column;
    align-items: stretch;
  }

  .countrycode-flex-item,
  .phonenumber-flex-item,
  input[type="submit"] {
    width: 100%;
  }

  .accountInformationContainer {
    flex-direction: column;
  }
  
  .contactInformationContainer, .newslettersContainer {
    width: 100%;
  }
}
